/*{
    border: 5px solid red;
}*/
@import 'bootstrap/dist/css/bootstrap.min.css';
@import 'bootstrap-icons/font/bootstrap-icons.css';
/* Empêche le scroll sur toute la page pour fixer l'interface */
body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

/* Structure principale : occupe toute la hauteur disponible */
.main-wrapper {
    display: flex;
    height: 100vh; /* 100% de la hauteur de la fenêtre */
}

/* Le contenu central qui doit scroller */
.content-area {
    flex: 1;
    overflow-y: auto; /* Active la barre de scroll uniquement ici */
    padding: 20px;
    height: 100%;
}
.scrollable-module {
    max-height: 400px; /* Taille fixe pour le module */
    overflow-y: auto;  /* Barre de scroll verticale si le contenu dépasse */
    border: 1px solid #ddd;
}
body {
/*background:linear-gradient(-50deg, #ccf0b2, #ccf0b2, #ccf0b2, #d0aab5);*/
background:linear-gradient(-50deg, #640629, #74d1f8, #b2daf0, #a34862);
background-size: auto;
animation:gradient 15s ease infinite;
}
@keyframes gradientMove {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}

.text-primary {
    color: red;
}
.lead {
    animation:fadeIn 2s ease-in-out;
}
@keyframes fadeIn {
    from {
        opacity: 0;transform: translateY(10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}


.bg-pink {
    background-color: #d63384 !important; /* Le rose officiel de la palette Bootstrap */
    color: white !important;
}

#app .custom-navbar {


    background-color: green;
 -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
}


#app .navbar-brand {
    color: red
}
#app .nav-link {
    color:green;
}
p {
    color: black;
}
h1.display-3.text-primary {
    color: green;
}
p.lead.text-secondary {
    color: white;
}
.medical-icon {
    color:rgb(153, 11, 11);
opacity: 0.8;
font-size: 10rem;

}
.medical-red{
    color:#b03a2e ;
}
/*dynamysation de l'icone medicale*/
@keyframes heartBeat {
    0% { transform: scale(1); }
    14%{ transform: scale(1); }
    28% { transform: scale(1); }
    32% { transform: scale(1); }
    60% { transform: scale(1); }
    100% { transform: scale(1); }
}
.heartBeat-active {
    width: 60px;
    height: 60px;
    color: #b03a2e;
    display: inline-block;
    animation: heartBeat 1s ease-in-out infinite;}
card-body {
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

